/* Atualizado CSS com classes renomeadas */



#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; /* Purple background color */
}

.main-content {
    background-color: #b482d6;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.main-content::before {
    content: "";
    position: absolute;
    background-color: #6c3483; /* Darker purple color */
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;
}

.main-title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
    color: #fff; /* White color */
}

.title-primary {
    color: #fff;
}

.title-second {
    color: #6c3483; /* Darker purple color */
}

.main-description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    color: #fff; /* White color */
}

.description-primary {
    color: #fff;
}

.description-second {
    color: #fff;
}

.btn-main {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color 0.5s;
}

.btn-primary:hover {
    background-color: #fff;
    color: #6c3483; /* Darker purple color */
}

.btn-second {
    background-color: #6c3483; /* Darker purple color */
    border: 1px solid #6c3483; /* Darker purple color */
    transition: background-color 0.5s;
    text-decoration: none;
}

.btn-second:hover {
    background-color: #fff;
    border: 1px solid #6c3483; /* Darker purple color */
    color: #6c3483; /* Darker purple color */
}

.first-content {
    display: flex;
}

.first-content .second-col {
    z-index: 11;
}

.first-col {
    text-align: center;
    width: 40%;
    z-index: 10;
}

.second-col {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    margin: 1rem 0;
}

.link-social-media:not(:first-child) {
    margin-left: 10px;
}

.link-social-media .item-social-media {
    transition: background-color 0.5s;
}

.link-social-media:hover .item-social-media {
    background-color: #6c3483; /* Darker purple color */
    color: #fff;
    border-color: #6c3483; /* Darker purple color */
}

.list-social-media {
    display: flex;
    list-style-type: none;
}

.item-social-media {
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}

.main-form {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.main-form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ffffff; /* Purple background color */
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #8e44ad inset !important;
    -webkit-text-fill-color: #000 !important;
}

.label-input-main {
    background-color: #ffffff; /* Purple background color */
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify-main {
    color: #1b858d; /* Adjusted color, not purple */
    padding: 0 5px;
}

/* Second content */

.second-content {
    position: absolute;
    display: flex;
}

.second-content .first-col {
    order: 2;
    z-index: -1;
}

.second-content .second-col {
    order: 1;
    z-index: -1;
}

.password {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}

.password::first-letter {
    text-transform: capitalize;
}

.sign-in-js .first-content .first-col {
    z-index: -1;
}

.sign-in-js .second-content .second-col {
    z-index: 11;
}

.sign-in-js .second-content .first-col {
    z-index: 13;
}

.sign-in-js .main-content::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1.3s;
    z-index: 12;
}

.sign-up-js .main-content::before {
    animation: slideout 1.3s;
    z-index: 12;
}

.sign-up-js .second-content .first-col,
.sign-up-js .second-content .second-col {
    z-index: -1;
}

.sign-up-js .first-content .second-col {
    z-index: 11;
}

.sign-up-js .first-content .first-col {
    z-index: 13;
}

.sign-in-js .first-content .second-col {
    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 1.3s;
}

.sign-up-js .second-content .second-col {
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 1.3s;
}

#header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #15161D;
}

.header-logo-main {
    justify-items: start;
}

.header-logo-main h1 {
    color: #FFFFFF;
}

.logo-detail-main {
    color: var(--primary);
}

.header-logo-main h1::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
}

.header-logo-main .logo img {
    display: block;
}
