.nav01{
    background-color: #131921;

  
}

.textotitulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao01{
    width: 100%;
    height: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: montserrat,sans-serif!important;
}
.botao02{
    width: 100%;
    height: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2B74A;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: montserrat,sans-serif!important;
}
.botao03{
    width: 100%;
    height: 50%;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    list-style-type: none;
    font-family: montserrat,sans-serif!important;
}
.botao04{
    width: 100%;
    height: 50%;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: montserrat,sans-serif!important;
}
.botao04:hover{
    background-color: #AF4438;
}
.botao01:hover{
    background-color: #fd1900;
}
.botao02:hover{
    background-color: #ff1900;
}
.botao03:hover{
    background-color: #AF4438;
}

.botao03 .dropdown-item, .botao04 .dropdown-item, .botao01 .dropdown-item,
.botao03:hover a, .botao04:hover a, .botao01:hover a{
    color: #FFFFFF !important;
    transition: all 1s;
}

.dropdown-item:hover{
    background: #922b1f !important;
    transition: all 0.75s;
}