<link rel="stylesheet" href="/res/styles/header_style.css">

<header style="display: flex; justify-content: center; align-items: center; font-weight: bold">
  <div class="barra01">
            <nav class="navbar navbar-expand-lg navbar-light borda bg-white" style="position: sticky; top: 0px; z-index: 9999;">
                <div class="container">
                    <a class="navbar-brand" href="#">ECOMMERCE ELETRONICOS</a>
                    <div id="divBusca">
                        <input type="text" id="txtBusca" placeholder="Buscar na Pagina..."/>
                    </div>
                </div>
            </nav>
        </div>
<div class="barra02">
  <nav class="navbar navbar-expand-lg navbar-light borda bg-white" style="position: sticky; top: 0px; z-index: 9999;">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="botao03 nav-item dropdown">
                    <a class="nav-link" href="#" id="cursosDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CATEGORIA01
                    </a>
                    <div class="dropdown-menu" aria-labelledby="cursosDropdown">
                      <a class="dropdown-item" href="#">PRODUTO_01</a>
                      <a class="dropdown-item" href="#">PRODUTO_02</a>
                      <a class="dropdown-item" href="#">PRODUTO_03</a>
                      <a class="dropdown-item" href="#">PRODUTO_04</a>
                      <a class="dropdown-item" href="#">PRODUTO_05</a>
                    </div>
                </li>
                <li class="botao04 nav-item dropdown">
                    <a class="nav-link" href="#" id="estudeAquiDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CATEGORIA02
                    </a>
                    <div class="dropdown-menu" aria-labelledby="estudeAquiDropdown">
                      <a class="dropdown-item" href="#">PRODUTO_01</a>
                      <a class="dropdown-item" href="#">PRODUTO_02</a>
                      <a class="dropdown-item" href="#">PRODUTO_03</a>
                      <a class="dropdown-item" href="#">PRODUTO_04</a>
                      <a class="dropdown-item" href="#">PRODUTO_05</a>
                    </div>
                </li>
                <li class="botao01 nav-item dropdown">
                    <a class="nav-link" href="#" id="bolsasDescontosDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CATEGORIA03
                    </a>
                    <div class="dropdown-menu" aria-labelledby="bolsasDescontosDropdown">
                        <a class="dropdown-item" href="#">PRODUTO_01</a>
                        <a class="dropdown-item" href="#">PRODUTO_02</a>
                        <a class="dropdown-item" href="#">PRODUTO_03</a>
                        <a class="dropdown-item" href="#">PRODUTO_04</a>
                        <a class="dropdown-item" href="#">PRODUTO_05</a>
                    </div>
                </li>
              </li>
              <li class="botao01 nav-item dropdown">
                  <a class="nav-link" href="#" id="bolsasDescontosDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      CATEGORIA04
                  </a>
                  <div class="dropdown-menu" aria-labelledby="bolsasDescontosDropdown">
                      <a class="dropdown-item" href="#">PRODUTO_01</a>
                      <a class="dropdown-item" href="#">PRODUTO_02</a>
                      <a class="dropdown-item" href="#">PRODUTO_03</a>
                      <a class="dropdown-item" href="#">PRODUTO_04</a>
                      <a class="dropdown-item" href="#">PRODUTO_05</a>
                  </div>
              </li>
            </ul>
        </div>
    </div>
  </nav>
</div>
        <script>
            function toggleActiveLink(link) {
                const links = document.querySelectorAll(".linguagem a");
                links.forEach((lnk) => {
                    lnk.classList.remove("active");
                });
                link.classList.add("active");
            }
            const languageLinks = document.querySelectorAll(".linguagem a");
            languageLinks.forEach((link) => {
                link.addEventListener("click", () => {
                    toggleActiveLink(link);
                });
            });
        </script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function () {
                    $(".nav-item.dropdown").hover(
                        function () {
                            $(this).addClass("show");
                            $(this).find(".dropdown-menu").addClass("show");
                        },
                        function () {
                            $(this).removeClass("show");
                            $(this).find(".dropdown-menu").removeClass("show");
                        }
                    );
                });
            </script>
</header>