<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ecommerce</title>
    <link rel="stylesheet" href="/res/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/res/styles/header_style.css">
</head>
<body> 
    {include="header"}
    <main style="display: flex; justify-content: center; align-items: center; font-weight: bold">
        Index
    </main>
    {include="footer"}
</body>
</html>

<script type="text/javascript" src="/res/bootstrap/js/bootstrap.bundle.min.js"></script>