<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>CliX! - Pagamento</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/res/template/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/res/template/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/res/template/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/res/template/css/nouislider.min.css" />


    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/res/template/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/res/template/css/style.css" />

</head>

<body>


    {include="header"}
    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 titulo">
                    <i class="bi bi-credit-card-2-back-fill" style="font-size: 24px; margin-right: 8px"></i>
                    <h3 class="breadcrumb-header">Pagamento</h3>
                    <ul class="breadcrumb-tree">
                        <li><a href="#">Inicio</a></li>
                        <li class="active">Pagamento</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->

    <!-- SECTION -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 order-details text-left">
                    <div class="section-title">
                        <h3 class="title">Formas de Pagamento</h3>
                    </div>


                    <div class="accordion" id="accordionExample">

                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <div>
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <div class="centralizar-titulo">
                                            <p style="margin-bottom: 0px; margin-right: 4px; ">PIX</p>
                                            <svg xmlns="http://www.w3.org/2000/svg" height="1.0em"
                                                viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                                <style>
                                                    svg {
                                                        fill: #2fb6a7
                                                    }
                                                </style>
                                                <path
                                                    d="M242.4 292.5C247.8 287.1 257.1 287.1 262.5 292.5L339.5 369.5C353.7 383.7 372.6 391.5 392.6 391.5H407.7L310.6 488.6C280.3 518.1 231.1 518.1 200.8 488.6L103.3 391.2H112.6C132.6 391.2 151.5 383.4 165.7 369.2L242.4 292.5zM262.5 218.9C256.1 224.4 247.9 224.5 242.4 218.9L165.7 142.2C151.5 127.1 132.6 120.2 112.6 120.2H103.3L200.7 22.76C231.1-7.586 280.3-7.586 310.6 22.76L407.8 119.9H392.6C372.6 119.9 353.7 127.7 339.5 141.9L262.5 218.9zM112.6 142.7C126.4 142.7 139.1 148.3 149.7 158.1L226.4 234.8C233.6 241.1 243 245.6 252.5 245.6C261.9 245.6 271.3 241.1 278.5 234.8L355.5 157.8C365.3 148.1 378.8 142.5 392.6 142.5H430.3L488.6 200.8C518.9 231.1 518.9 280.3 488.6 310.6L430.3 368.9H392.6C378.8 368.9 365.3 363.3 355.5 353.5L278.5 276.5C264.6 262.6 240.3 262.6 226.4 276.6L149.7 353.2C139.1 363 126.4 368.6 112.6 368.6H80.78L22.76 310.6C-7.586 280.3-7.586 231.1 22.76 200.8L80.78 142.7H112.6z" />
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body colun">
                                    <p>
                                        Até 10% de desconto com aprovação imediata que torna a expedição mais rápida do
                                        pedido.
                                    </p>

                                    <a href="/" class="primary-btn avancar" id="pagarBtn" onclick="pagarClicado(event)">PAGAR</a>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-2">
                            <div class="card-header" id="headingTwo">
                                <div class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                        BOLETO BANCÁRIO
                                    </button>
                                </div>
                            </div>

                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body colun">
                                    <p>
                                        Até 10% de desconto. Você poderá visualizar ou imprimir o boleto após a
                                        finalização do pedido. Mas fique de olho! Passada a data de vencimento, seu
                                        pedido perderá automaticamente a validade.
                                    </p>

                                    <a href="/" class="primary-btn avancar" id="pagarBtn" onclick="pagarClicado(event)">PAGAR</a>

                                </div>
                            </div>
                        </div>

                        <div class="card mt-2">
                            <div class="card-header" id="headingThree">
                                <div class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                        <p style="margin-bottom: 0px; margin-right: 8px;">CARTÃO DE CRÉDITO</p>
                                        <img class="cartaocredito"
                                            src="https://guiadacidadesc.com.br/wp-content/uploads/2019/02/logos-cart%C3%B5es-de-credito-guia-da-cidade-sc.png"
                                            alt="">
                                    </button>
                                </div>
                            </div>

                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <form class="cartao">
                                        <div class="group tamanho-input2">
                                            <input required="" type="text" class="input1" id="cmp_checkout_rua">
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Numero Do Cartão</label>
                                        </div>

                                        <div class="group tamanho-input2">
                                            <input required="" type="text" class="input1" id="cmp_checkout_rua">
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Nome Impresso</label>
                                        </div>

                                        <div class="group">
                                            <input required="" type="text" class="input1" id="cmp_checkout_rua" maxlength="5" oninput="formatarDataCartao(this)">
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Validade</label>
                                        </div>
                                        <div class="group">
                                            <input required="" type="text" class="input1" id="cmp_checkout_rua" maxlength="3">
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>CVV</label>
                                        </div>

                                        <div class="group">
                                            <input required="" type="text" class="input1" id="cmp_checkout_rua" maxlength="11">
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>CPF/CNPJ do Titular</label>
                                        </div>
                                        <div class="group">
                                            <input required="" type="text" class="input1" id="cmp_checkout_rua">
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Data Nascimento</label>
                                        </div>
                                        <select id="parcelamento" name="Forma-de-pagamento" class=" onclick="
                                            hidePlaceholder()>
                                            <option value="|PCL">Parcelamento</option>
                                            <option value="1">A Vista</option>
                                            <option value="2">2x (Sem Juros)</option>
                                            <option value="3">3x (Sem Juros)</option>
                                            <option value="4">4x (Sem Juros)</option>
                                            <option value="5">5x (Sem Juros)</option>
                                            <option value="6">6x (Sem Juros)</option>
                                            <option value="7">7x (Sem Juros)</option>
                                            <option value="8">8x (Sem Juros)</option>
                                            <option value="9">9x (Com Juros)</option>
                                            <option value="10">10x (Com Juros)</option>
                                            <option value="11">11x (Com Juros)</option>
                                            <option value="12">12x (Com Juros)</option>
                                        </select>
                                        
                                </div>
                                <div style="display: flex; justify-content: center;">
                                  <a href="/" id="pagarBtn" class="primary-btn avancar" style="align-self: center; margin-left: auto; margin-right: auto;" onclick="pagarClicado(event)">PAGAR</a>

                                </div>

                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>


</div>
{include="footer"}

<!-- jQuery Plugins -->
<script src="/res/template/js/jquery.min.js"></script>
<script src="/res/template/js/bootstrap.min.js"></script>
<script src="/res/template/js/slick.min.js"></script>
<script src="/res/template/js/nouislider.min.js"></script>
<script src="/res/template/js/jquery.zoom.min.js"></script>
<script src="/res/template/js/main.js"></script>
<script src="/res/scripts/functions.js"></script>


<script>

function pagarClicado(event) {
        // Prevenir o comportamento padrão do link (evitar redirecionamento imediato)
        event.preventDefault();

        // Exibir um alerta
        alert('Pagamento efetuado com sucesso!');

        // Adicionar um evento de clique ao alerta
        window.addEventListener('click', function () {
            // Redirecionar para a página X
            window.location.href = '/';
        });
    }
</script>
</body>

</html>