<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>CliX! - Carrinho</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/res/template/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/res/template/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/res/template/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/res/template/css/nouislider.min.css" />


    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/res/template/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/res/template/css/style.css" />

</head>

<body>
    {include="header"}
    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 titulo">
                    <h3 class="breadcrumb-header">Registro</h3>
                    <ul class="breadcrumb-tree">
                        <li><a href="#">Inicio</a></li>
                        <li class="active">Registro</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->
    <!-- SECTION -->
    <div class="login-page">
        <svg xmlns="http://www.w3.org/2000/svg" height="6.0em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#4f1f61}</style><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>

        <div class="form">
          <form class="register-form">
            <input class="input-field " type="text" placeholder="Nome"/>
            <input class="input-field" type="password" placeholder="Senha"/>
            <input class="input-field" type="text" placeholder="E-mail"/>
            <button class="create-button primary-btn">Registrar</button>
            <p class="message">Já Registrado? <a href="#" class="toggle-form">Logar</a></p>
          </form>
        </div>
      </div>
      

    {include="footer"}

<!-- jQuery Plugins -->
<script src="/res/template/js/jquery.min.js"></script>
<script src="/res/template/js/bootstrap.min.js"></script>
<script src="/res/template/js/slick.min.js"></script>
<script src="/res/template/js/nouislider.min.js"></script>
<script src="/res/template/js/jquery.zoom.min.js"></script>
<script src="/res/template/js/main.js"></script>
<script src="/res/scripts/functions.js"></script>


<script>

</script>
</body>