<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>CliX! - Wishlist</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/res/template/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/res/template/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/res/template/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/res/template/css/nouislider.min.css" />
    

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/res/template/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/res/template/css/style.css" />

</head>

<body>


    {include="header"}
    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 titulo">
                    <i class="fa fa-heart-o" style="font-size: 24px;"></i>
                    <h3 class="breadcrumb-header">Favoritos</h3>
                    <i class="bi bi-cart"></i>
                    <ul class="breadcrumb-tree">
                        <li><a href="#">Inicio</a></li>
                        <li class="active">Favoritos</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->

    <!-- SECTION -->
    <div class="section">
      <div class="container">
          <div class="row">
              <div class="col-md-12 order-details">
                  <div class="section-title text-center">
                      <h3 class="title">Favoritos</h3>
                  </div>
                  <div class="order-summary">
                      
                    <div class="cart-item">
                      <img src="/res/template/img/product01.png" alt="Product Image">
                      <div class="product-description">
                          <p>Notebook para Jogos super Rápido</p>
                      </div>
                     
                      <div class="price" style="display: none;">
                          R$2000,00
                      </div>
                      <div class="total-price">
                          R$<span class="result-price">2000,00</span>
                      </div>
                      <button class="cart-btn_wishlist" onclick="removeCartItem(this)"><i class="bi bi-cart-fill"></i></button>
                      <button class="remove-btn" onclick="removeCartItem(this)"><i class="bi bi-trash-fill"></i></button>
                  </div>
                  <div class="total-price">
                    R$2000,00
                </div>
            </div>
            
        
            <div class="order-col">
                <div><strong>TOTAL</strong></div>
                <div><strong class="order-total total-price">R$2000,00</strong></div>
                <div class="container-botoes">
                    <a href="/" class="primary-btn order-submit mr-2 btn_voltar_comprar">Continuar Comprando</a>
                   
                </div>
          </div>
      </div>
  </div>

</body>
</html>

   
    </div>
    {include="footer"}

    <!-- jQuery Plugins -->
    <script src="/res/template/js/jquery.min.js"></script>
    <script src="/res/template/js/bootstrap.min.js"></script>
    <script src="/res/template/js/slick.min.js"></script>
    <script src="/res/template/js/nouislider.min.js"></script>
    <script src="/res/template/js/jquery.zoom.min.js"></script>
    <script src="/res/template/js/main.js"></script>
    <script src="/res/scripts/functions.js"></script>


    <script>
      function decreaseQuantity(button) {
    var input = button.nextElementSibling;
    var currentValue = parseInt(input.value, 10);

    if (currentValue > 1) {
        input.value = currentValue - 1;
    }
}
    function increaseQuantity(button) {
        var input = button.previousElementSibling;
        var currentValue = parseInt(input.value, 10);

        input.value = currentValue + 1;
    }
    function decreaseQuantity(button) {
    var input = button.nextElementSibling;
    var quantity = parseInt(input.value, 10);

    if (quantity > 1) {
        input.value = quantity - 1;
        updateTotalPrice(button.closest('.cart-item'));
    }
}

// Função para aumentar a quantidade
function increaseQuantity(button) {
    var input = button.previousElementSibling;
    var quantity = parseInt(input.value, 10);

    input.value = quantity + 1;
    updateTotalPrice(button.closest('.cart-item'));
}

// Função para atualizar o preço total do item
function updateTotalPrice(cartItem) {
    var quantity = parseInt(cartItem.querySelector('.quantity-input').value, 10);
    var pricePerUnit = parseFloat(cartItem.querySelector('.price').innerText.replace('R$', '').replace(',', '.'));

    var totalPrice = quantity * pricePerUnit;
    cartItem.querySelector('.total-price').innerText = 'R$' + totalPrice.toFixed(2);

    updateOrderTotal(); 
}

// Função para atualizar o preço total do pedido
function updateOrderTotal() {
    var totalPrice = 0;
    var cartItems = document.querySelectorAll('.cart-item');

    cartItems.forEach(function(cartItem) {
        var quantity = parseInt(cartItem.querySelector('.quantity-input').value, 10);
        var pricePerUnit = parseFloat(cartItem.querySelector('.price').innerText.replace('R$', '').replace(',', '.'));

        totalPrice += quantity * pricePerUnit;
    });

    document.querySelector('.order-total').innerText = 'R$' + totalPrice.toFixed(2);
}
    </script>
</body>

</html>